header{
    width: 100vw;
    height: 50px;
}

header .container  h1{
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    font-size: 22px;
    line-height: 50px;
}
header .container {
    padding: 0 10px;
}
header{
    background-color: gray;
}
header .container  .menu-header{
    height: 50px;
}
header .container  .menu-header ul{
    margin: 0px;
    display: flex;
    text-decoration: none;
    list-style: none;
}
header .container .menu-header ul li{
    height: 50px;
    padding: 0 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-menu-white);
    line-height: 50px;
}
header .container .menu-header ul li.active{
    background-color: red;
    border-radius: 20px;
    color: var(--color-menu-active);
    font-weight: 400;
}